<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/header %>
</head>

<body>

    <div class="jumbotron text-center">
      <h1 class="display-3">Welcome to Rocalytics</h1>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, ea esse. Illo, consequatur qui illum, in ration
        quis rerum sapiente assumenda reprehenderit repudiandae id repellat aliquid, dolore cupiditate maxime inventore?</p>
      <hr class="my-4">
      <p>In order to navigate the site, you must have a Spotify account</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href= <%= link %> role="button">Login</a>
      </p>
    </div>

    <% include partials/scripts %>
</body>

</html>